body {
  margin: 0px;
  font-family: Roboto;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  padding-left: 10%;
  background-color: aliceblue;
  box-shadow: 0px -5px 10px black;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10%;
  background-color: aliceblue;
  font-size: 12px;
  color: darkslateblue;
  box-shadow: 0px 5px 10px black;
}

footer > a {
  margin-right: 20px;
  color: inherit;
}

h1 {
  margin: 10px 0;
  font-weight: 400;
}

.app-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  font-weight: 300;
  overflow: hidden;
  flex-grow: 1;
}

.highlighted {
  font-weight: bold;
}

article {
  flex-grow: 1;
  position: relative;
}

aside {
  width: 300px;
  min-width: 300px;
  border-left: 3px dashed #f0f0f0;
  margin-left: 5px;
  padding: 10px 27px 15px 27px;
  overflow: auto;
}

.repl {
  font-size: 15pt;
  font-weight: 300;
  padding-left: 5px;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: absolute;
  cursor: default;
  border-left: 1px solid lightgray;
}

.repl .info {
  color: #bbbbbb;
  padding-top: 7px;
}

.repl .result {
  color: black;
}

.repl .command {
  color: #777777;
}

.repl .error {
  color: #ff3333;
}

.repl .caret {
  color: #dddddd;
}

.repl .prompt-caret {
  color: #777777;
}

.repl .prompt.error .prompt-caret {
  color: #ff1111;
}

.prompt {
  padding-bottom: 7px;
}

.output > div {
  padding: 2px 0px;
}

.lambda-input {
  width: 90%;
  border: 0px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background-color: transparent;
}

.lambda-input:focus {
  outline: none;
}

.expand-collapse-button {
  visibility: hidden;
  font-size: 10px;
  vertical-align: middle;
  line-height: 24px;
  cursor: pointer;
  margin-left: 5px;
}

.result:hover .expand-collapse-button, .error:hover .expand-collapse-button {
  visibility: visible;
}


.result-inner {
  display: flex;
  max-width: calc(100% - 10px);
  white-space: nowrap;
}

.result-inner > span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-inner > div {
  flex-grow: 1;
  padding-left: 3px;
}

.metadata {
  color: black;
  margin-left: -5px;
  padding: 10px;
  font-size: 10pt;
  border-left: 5px solid lightgrey;
  overflow: auto;
  white-space: nowrap;
}

.error-metadata-header {
  margin-top: 0px;
}

.result i {
  color: #777777;
}

aside button {
  vertical-align: bottom;
}

.secret.secret {
  color: transparent;
  background: #555555;
}

.secret.secret:hover {
  background-color: aliceblue;
  color: black;
}

.code, .secret {
  font-family: 'Roboto Mono';
  font-size: 11pt;
  padding: 0px 4px;
  background: aliceblue;
  white-space: nowrap;
}

.solved-badge {
  margin-top: -14px;
  font-size: 10pt;
  color: #888888;
}

.problem-navigator {
  position: absolute;
  bottom: 60px;
  width: 47px;
}

.problem-navigator > button {
  font-size: 10pt;
}

.problem-navigator > .next-problem {
  float: right; /* don't hate me- this is like one line */
}

.repl::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* Dark Mode */

.dark-mode.app-wrapper {
  color: #eeeeee;
  background-color: #12141c;
}

.dark-mode header {
  background-color: #333344;
}

.dark-mode .code {
  background: #333333;
}

.dark-mode .lambda-input {
  color: whitesmoke;
}

/* Dark mode REPL stuff */
.dark-mode .repl .info {
  color: whitesmoke;
}

.dark-mode .repl .result {
  color: whitesmoke;
}

.dark-mode .repl .command {
  color: #999999;
}

.dark-mode .repl .error {
  color: #ff3333;
}

.dark-mode .repl .caret {
  color: #676767;
}

.dark-mode .repl .prompt-caret {
  color: #eeeeee;
}

.dark-mode .result i {
  color: #aaaadd;
}

.dark-mode .repl {
  border-left: 1px solid #33333a;
}

.dark-mode aside {
  border-left: 3px dashed #33333a;
}

.dark-mode footer {
  background-color: #333344;
  color: #eeeeee;
}

.dark-mode .metadata {
  color: whitesmoke;
  border-left: 5px solid #33333a;
}


.dark-mode .secret.secret {
  background: whitesmoke;
  color: transparent;
}

.dark-mode .secret.secret:hover {
  color: whitesmoke;
  background-color: #333333;
}