h1 {
  margin-left: 10%;
  margin-bottom: 10px;
  font-family: Roboto;
  font-weight: 400;
}

.app-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  font-family: Roboto;
  font-weight: 300;
}

.highlighted {
  font-weight: bold;
}

article {
  flex-grow: 1;
}

aside {
  width: 300px;
  border-left: 3px dashed #f0f0f0;
  margin-left: 70px;
  padding-left: 27px;
  height: calc(100% - 50px);
}

.repl {
  font-size: 15pt;
  font-weight: 300;
  padding-left: 5px;
  border-left: 1px solid lightgray;
  font-family: Roboto;
  height: calc(100% - 50px);
  overflow: auto;
  position: relative;
  cursor: default;
}

.initial-prompt {
  color: #bbbbbb;

}

.repl .result {
  color: black;
}

.repl .command {
  color: #777777;
}

.repl .error {
  color: #ff3333;
}

.repl .caret {
  color: #dddddd;
}

.repl .prompt-caret {
  color: #777777;
}

.repl .prompt.error .prompt-caret {
  color: #ff1111;
}

.output > div {
  padding: 2px 0px;
}

.lambda-input {
  width: 90%;
  border: 0px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background-color: transparent;
}

.lambda-input:focus {
  outline: none;
}

.expand-collapse-button {
  visibility: hidden;
  font-size: 10px;
  line-height: 20px;
  vertical-align: middle;
  line-height: 20px;
  cursor: pointer;
  margin-left: 5px;
}

.result:hover .expand-collapse-button {
  visibility: visible;
}

.metadata {
  margin-left: -5px;
  padding: 10px;
  font-size: 10pt;
  border-left: 5px solid lightgrey;
}

.result i {
  color: #777777;
}
