h1 {
  margin-left: 10%;
  margin-bottom: 10px;
  font-family: Roboto;
  font-weight: 400;
}

.app-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

article {
  flex-grow: 1;
}

aside {
  width: 300px;
  border-left: 1px solid lightgray;
  margin-left: 70px;
  padding-left: 27px;
  height: calc(100% - 50px);
}

.repl {
  font-size: 15pt;
  font-weight: 300;
  padding-left: 5px;
  border-left: 1px solid lightgray;
  font-family: Roboto;
  height: calc(100% - 50px);
  overflow: auto;
  position: relative;
}

.repl .result {
  color: black;
}

.repl .command {
  color: #777777;
}

.repl .error {
  color: #ff3333;
}

.repl .caret {
  color: #dddddd;
}

.repl .prompt-caret {
  color: #777777;
}

.output > div {
  padding: 1px 0px;
}

.lambda-input {
  width: 90%;
  border: 0px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background-color: transparent;
}

.lambda-input:focus {
  outline: none;
}
